<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
<h2>Enter User Name</h2> 
<!--<input auto-complete [(ngModel)]="userQ" [source]="users"
(input)="valueChange($event)"
loading-text="Loading..."
                   [list-formatter]="userAutocompleListFormatter"
                   value-property-name="id"
                   display-property-name="login"
				   no-match-found-text="(User not found)"
				   (valueChanged)="userValueChanged($event)"/>-->
<input auto-complete [(ngModel)]="userQ"(input)="valueChange($event)"/>
<ul class="search">
<li *ngFor="let user of users" (click)="userSelected(user.login)">{{user.login}}</li>
</ul>
</div>
<div class="details">
<table *ngIf="user">
<tr>	<td>	login	</td>	<td>	{{user.login}}	</td>	</tr>
<tr>	<td>	id	</td>	<td>	{{user.id}}	</td>	</tr>
<tr>	<td>	avatar_url	</td>	<td>	{{user.avatar_url}}	</td>	</tr>
<tr>	<td>	gravatar_id	</td>	<td>	{{user.gravatar_id}}	</td>	</tr>
<tr>	<td>	url	</td>	<td>	{{user.url}}	</td>	</tr>
<tr>	<td>	html_url	</td>	<td>	{{user.html_url}}	</td>	</tr>
<tr>	<td>	followers_url	</td>	<td>	{{user.followers_url}}	</td>	</tr>
<tr>	<td>	following_url	</td>	<td>	{{user.following_url}}	</td>	</tr>
<tr>	<td>	gists_url	</td>	<td>	{{user.gists_url}}	</td>	</tr>
<tr>	<td>	starred_url	</td>	<td>	{{user.starred_url}}	</td>	</tr>
<tr>	<td>	subscriptions_url	</td>	<td>	{{user.subscriptions_url}}	</td>	</tr>
<tr>	<td>	organizations_url	</td>	<td>	{{user.organizations_url}}	</td>	</tr>
<tr>	<td>	repos_url	</td>	<td>	{{user.repos_url}}	</td>	</tr>
<tr>	<td>	events_url	</td>	<td>	{{user.events_url}}	</td>	</tr>
<tr>	<td>	received_events_url	</td>	<td>	{{user.received_events_url}}	</td>	</tr>
<tr>	<td>	type	</td>	<td>	{{user.type}}	</td>	</tr>
<tr>	<td>	site_admin	</td>	<td>	{{user.site_admin}}	</td>	</tr>
<tr>	<td>	name	</td>	<td>	{{user.name}}	</td>	</tr>
<tr>	<td>	company	</td>	<td>	{{user.company}}	</td>	</tr>
<tr>	<td>	blog	</td>	<td>	{{user.blog}}	</td>	</tr>
<tr>	<td>	location	</td>	<td>	{{user.location}}	</td>	</tr>
<tr>	<td>	email	</td>	<td>	{{user.email}}	</td>	</tr>
<tr>	<td>	hireable	</td>	<td>	{{user.hireable}}	</td>	</tr>
<tr>	<td>	bio	</td>	<td>	{{user.bio}}	</td>	</tr>
<tr>	<td>	public_repos	</td>	<td>	{{user.public_repos}}	</td>	</tr>
<tr>	<td>	public_gists	</td>	<td>	{{user.public_gists}}	</td>	</tr>
<tr>	<td>	followers	</td>	<td>	{{user.followers}}	</td>	</tr>
<tr>	<td>	following	</td>	<td>	{{user.following}}	</td>	</tr>
<tr>	<td>	created_at	</td>	<td>	{{user.created_at}}	</td>	</tr>
<tr>	<td>	updated_at	</td>	<td>	{{user.updated_at}}	</td>	</tr>

							

</table>
</div>

